<div class="container">
  <span class="slider-text"
    >Embark on an anime adventure with Anistore
    <button class="button-custom" routerLink="/getAnime">View Store</button>
  </span>
  <div class="wrapper">
    <img src="../../../assets/dashboard-images/ich.jpg" />
    <img src="../../../assets/dashboard-images/solo.jpg" />
    <img src="../../../assets/dashboard-images/attack.jpg" />
    <img src="../../../assets/dashboard-images/tanjiro.jpg" />
    <img src="../../../assets/dashboard-images/goku.jpg" />
    <img src="../../../assets/dashboard-images/ror.jpg" />
    <img src="../../../assets/dashboard-images/itachi.jpg" />
  </div>
</div>
